.login-container {
  padding: 8px;
  display: flex; /* Use Flexbox for the container */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.login-image {
  flex: 1; /* Take up equal space */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-image img {
  max-width: 100%; /* Limit the width of the image to 50% of its container */
  max-height: 50%; /* Limit the height of the image to 50% of its container */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners */
  object-fit: contain; /* Ensure the image fits within its container without distortion */
}

.login-form {
  flex: 1;
  display: flex; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex; /* Use Flexbox for the form layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%; /* Full width of the container */
  max-width: 400px; /* Optional: max width for better responsiveness */
  margin: 0 auto; /* Center the form horizontally within its container */
}

.form-row {
  display: flex; /* Use Flexbox for the form layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  width: 80%; /* Full width of the container */
  margin-bottom: 16px; /* Add some spacing between rows */
}
